@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* ANTD compnents color change */

/* TABLE COMPONENT */
.ant-table-wrapper .ant-pagination-item-active {
  background-color: #ffffff;
  border-color: #2C318B;
}

.ant-table-wrapper .ant-pagination-item-active a {
  color: #2C318B;
}

.ant-table-wrapper:hover .ant-pagination-item-active {
  background-color: #ffffff;
  border-color: #3C42BD;
}

.ant-table-wrapper:hover .ant-pagination-item-active a {
  color: #3C42BD;
}

/* END OF TABLE COMPONENT */

/* INPUT COMPONENT */
.ant-input:hover {
  border-color: #3C42BD;
}

.ant-input:active,
.ant-input:focus {
  border-color: #2C318B;
}

.ant-select-selection-search-input:hover {
  border-color: #3C42BD;
}

/* .ant-select-selection-search-input:active,
.ant-select-selection-search-input:focus {
  border-color: #2C318B;

} */

/* END OF INPUT COMPONENT */


.ant-select-outlined:hover {
  border-color: #2C318B !important;
}

.ant-select-outlined {
  border-color: #2C318B !important;

}

.ant-select-focused .ant-select-selector {
  border-color: #2C318B !important;
}

.ant-radio-button-wrapper:hover {
  color: #9C9FE0 !important;
  border-color: #9C9FE0 !important;
}

.ant-radio-button-wrapper-checked {
  color: #2C318B !important;
  border-color: #2C318B !important;
}

.ant-select-item-option-selected {
  background-color: #3C42BD !important;
  color: white !important;
}

.ant-picker-calendar-date-today {
  border-color: #3C42BD !important;
}

.ant-picker-cell-selected>div {
  background-color: #CDCFEF !important;
}

.ant-picker-cell-selected .ant-picker-calendar-date-value {
  color: #3C42BD !important;
}

.ant-select-selector:hover {
  border-color: #3C42BD !important;
}


/* 
text 1000 #292a32
text 800  #36363f
*/